/**
 * AWSM BLOCK: HERO 
 */

// .awsm-block-rd {
//   border-bottom: 4px solid var(--color-light);
// }

// .awsm-block-rd::after {
//   background-image: url('https://dev.jordiradstake.nl/radstakedigital/wp-content/uploads/sites/3/2020/07/georgie-cobbs-bKjHgo_Lbpo-unsplash-scaled.jpg');
//   background-size: cover;
//   background-position: 50%;
//   filter: blur(5px);
//   opacity: 0.5;

//   content: "";

//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: -1;   
// }

.wp-block-latest-posts.wp-block-latest-posts__list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  a {
   background-color: rgba(255,255,255,0.5);
   padding: 0.5rem 1rem 0.5rem 1rem;
   border-radius: 4px;
   font-weight: 500;
   color: var(--color-primary);
   font-size: 0.9rem;
  }
}

/** Container */

.awsm-block-hero {
    display: grid;
    grid-template-columns: auto 3fr 2fr 1fr auto;
    grid-template-rows: 1.5rem 2fr auto auto; 
    column-gap: 1.5rem;
    row-gap: 0.75rem;
}

/** __Elements */
  
.awsm-block-hero__background {
  
    /** Appaerence */
    background-color: rgba(255,255,255,0.5);
    border-bottom: 4px solid var(--color-dark);
    border-radius: 0 4px 4px 0;
    border-top: 4px solid var(--color-light);
  
  
    /** Lay-out */
    grid-column: 1 / 4;
    grid-row: 2 / 5;
  }
  
  .awsm-block-hero__img {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    box-shadow: 0 10px 30px rgba(16, 30, 54, 0.3);
    border-radius: 4px 4px 0 0;
    border-bottom: 4px solid var(--color-primary);

  }
  
  .awsm-block-hero__subtitle {
  
    /** Appaerence */
    text-align: left;
    align-self: end;
    font-size: 1.2rem;
  
    /** lay-out */
    grid-column: 2 / 5;
    grid-row: 2 / 3;

  }
  
  .awsm-block-hero__title {
  
    /** lay-out */
    grid-column: 2 / 5;
    grid-row: 3 / 4;
  
    /** Appaerence */
    font-size: 1.8rem;
    text-align: left;
    align-self: center;
    margin: 0;
  }
  
  .awsm-block-hero__button {
    grid-column: 2 / 5;
    grid-row: 4 / 5;
  
  }

@media (min-width: $bp-med) {
  
  .awsm-block-hero__background {

    /** Lay-out */
    grid-column: 1 / 4;
    grid-row: 2 / 6;
  }

  .awsm-block-hero__img { 
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    grid-column: 2 / 3;
    grid-row: 1 / 7;
  }

  .awsm-block-hero__subtitle {

    /** lay-out */
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }

  .awsm-block-hero__title {
    /** Appaerence */
    font-size: 1.8rem;

    /** lay-out */
    grid-column: 3 / 5;
  }

  .awsm-block-hero__button {
    /** lay-out */
    grid-column: 3 / 5;
    grid-row: 4 / 5;
  }

}

@media (min-width: $bp-large) {

  .awsm-block-hero {
    grid-template-columns: auto 2fr 2fr 1fr auto;
    grid-template-rows: 2fr auto auto auto auto 1fr;
  }

  .awsm-block-hero__title {
  
    /** Appaerence */
    font-size: 1.8rem;
  
    /** lay-out */
    grid-column: 3 / 5;
    grid-row: 3 / 4;
  }

} 

@media (min-width: $bp-large-2) {

  .awsm-block-hero {
    grid-template-columns: auto 2fr 2fr 1fr auto;
  }

  .awsm-block-hero__title {

    /** Appaerence */
    font-size: 2.8rem;
  
    /** lay-out */
    grid-column: 3 / 5;
    grid-row: 3 / 4;

  }

}

@media (min-width: $bp-xl) {

  .awsm-block-hero {
    grid-template-columns: 1fr 3fr 3fr 2fr auto;
    grid-template-rows: 2fr auto auto auto auto 1fr;
  }

}
