/**
 * Cookie banner 
 */

#awsm-cookie-banner {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0;
  background-color: var(--color-dark);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 15px 0px;
  width: 100%;
  z-index: 9999;
  border-radius: 0 4px 0 0;
  padding: 1rem 1rem 1rem 1rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #awsm-cookie-banner {
    width: 33%;
  }
}

#awsm-cookie-banner .awsm-cookie-banner__title {
  text-align: center;
  color: var(--color-light);
}

#awsm-cookie-banner p.awsm-cookie-banner__text {
  color: var(--color-light);
  text-align: center;
  font-size: 0.9rem;
}

#awsm-cookie-banner .awsm-cookie-banner__link {
  border-bottom: 1px solid var(--color-light);
  color: var(--color-light);
  text-align: center;
}

#awsm-cookie-banner .awsm-cookie-banner__link:hover {
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
}

#awsm-cookie-banner .awsm-cookie-banner__action {
  text-align: center;
}

#awsm-cookie-banner button {
  background-color: var(--color-light);
}

#awsm-cookie-banner button a {
  color: var(--color-dark);
}
