/**
 * 1. FOOTER
 */

footer.site-footer {
	// padding: 1rem 0 1rem 0;
	border-top: 1px solid var(--color-light);
	background-color: var(--color-light);
}

footer.site-footer p {
	font-size: 1rem; 
}

/* 
 * 2. FOOTER SIDEBAR
 */ 

	.footer-sidebar {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
		column-gap: 2rem;
		row-gap: 1rem;
		justify-items: stretch;
		background-color: var(--color-light);
		padding: 2rem 1.5rem 2rem 1.5rem; 
	}

	@media all and (min-width: $bp-med) {

		.footer-sidebar {

			row-gap: 2rem;

			.widget {
				/*
				* Widget Title 
				*/
				h2 {
					// color: $color-white;
					font-size: 1.4rem;
					font-weight: 500;
				}
			}
		}
	}

/**
 * 3. Object: Colophon
 */

nav.colophon {
	margin: 0 1.5rem 1.5rem 1.5rem;
}

nav.colophon ul.colophon__list {
	font-size: 0.8rem;
	color: inherit;
	display: flex;
	flex-direction: row;
	justify-content: center; // align horizontal
	align-items: center; // align vertical
}

nav.colophon ul.colophon__list li.colophon__item.copyright span.colophon__name {
	display: none;

	@media all and (min-width: $bp-med) {
		display: inline-block;
	}
}

nav.colophon ul.colophon__list li.colophon__item.seperator {
	padding: 0 0.5rem 0 0.5rem;
}

nav.colophon ul.colophon__list li.colophon__item.credits {
	font-size: 0.8rem;
}

nav.colophon ul.colophon__list li.colophon__item.credits a {
	border-bottom: 1px solid var(--color-dark);
}

/* Site info
************/	

.site-info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1.5rem 0 1.5rem 0;
	//border-top: 4px solid $color-white;

	background-color:#020c1b;
	color: var(--color-light);
	//padding: 0 2rem 0 2rem;

	.colophon__copyright {
		padding-right: 0;
		text-align: center;
		font-size: $font-size-small-2;
	}
}

@media all and (min-width: $bp-med) {

	.site-info {
		flex-direction: row;

		.colophon__copyright {
			padding-right: 1rem;
		}
	}

}
