/*------------------------------------*\
    #HEADER
\*------------------------------------*/

#top-header { 
	position: fixed;
	background: var(--color-light);
	top: 0;
	width: 100%;
	z-index: 100;
	transition: all .3s ease;
	height: 72px; // If changed, also change ../scripts/elastic.js  
	margin: 0 0 0 0;
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	box-shadow: none; // horizontal-offset vertical-offset blur spread color 
}

.top-header {

	display: grid;
	grid-template-columns: 1fr auto auto;
	column-gap: 1rem;
	justify-items: stretch;
	align-items: center;

	@media all and (min-width: $bp-xl) {

		grid-template-columns: auto 1fr auto;
		column-gap: 4rem;
		grid-column-gap: 3rem;
		
	}

}

header.entry-header {

	/** Appaerence */

	/** Lay-out */
	width: 100%;
	height: 100%;
}

.entry-title {
	width: 80vw;
	margin: 0 0 0 0;
	text-align: center;
}

/**
 * Header variations
 */

/**
 * Header
 */

 nav#site-navigation {
	 justify-self: end;
 }

nav#shop-navigation {
	justify-self: end;
}

button.hamburger {
	justify-self: end;
}

/**
 * ...
 */

#top-header.hide {
	top: -153px;
 	transition-timing-function: ease-in;
 	transition: 0.6s;
}

// @media screen and (min-width: 783px) {
//   .admin-bar #masthead {
//     top: 32px;
//   }
// }


/* Header sidebar
*****************/

.header-sidebar {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;

	padding: 0.5rem;

	.widget {
		padding: 0 0 0 0;
	}

}

@media all and (min-width: $bp-med) {

	.header-sidebar {
		grid-template-columns: 1fr 1fr 1fr;

		margin: 4rem 0 2rem 0;

		.widget {
			padding: 0.5rem 0.5rem 0.5rem 0.5rem;
		}
	}
}

/**
 * 1) The page header contains the page's heading, as perhaps other page information
 *    such as description or actions (edit, delete, etc).
 */

/**
 * AWSM
 */

 .archive .site-header {
	margin-bottom: 3.5em;
}

.site-title { 
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;

	@media all and (min-width: $bp-small-2) {
		font-size: 20px;
	}

	@media all and (min-width: $bp-large-2) {
		font-size: 1.2rem;
	}
}

.site-title a {
	text-decoration: none;
	color: var(--color-dark);

	:hover {
		color: var(--color-primary);
	}
}

.site-branding {
	color: var(--color-primary);

	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		color: var(--color-dark);
		text-align: left;
	}

	a 	img {
		max-height: 3rem; 
		width: auto;
	}
}

.site-branding h1 a:hover {
	color: var(--color-primary);
}

.site-description {
	display: none;
	margin: 0.16rem 0 0 0;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: var(--color-dark);
	opacity: 0.75;

	@media all and (min-width: $bp-xl) {
		display: block;
	}
}
