/**
 * LAYOUT
 *
 * @doc awesomatic.nl/docs/dev/layout/
 */

/** Page */

//  // Colors
//  $bg-color: var(--color-light);
//  $dot-color: var(--color-dark);
 
//  // Dimensions
//  $dot-size: 1px;
//  $dot-space: 28px;

body {
  display: grid;
  /**
   * Create a fixed header |row-1| and force the footer |row-3| 
   * to the bottom of the page by letting the main area |row-2| 
   * fill up all the space available
   */
  // grid-template-rows: 4.5rem 1fr 7.5rem; // |header| |main| |footer|
  // grid-template-columns: 1fr;
  // min-height: calc(var(--vh, 1vh) * 100);
  // background: linear-gradient(90deg, var(--color-light) 20px, transparent 1%) center, linear-gradient(var(--color-light) 20px, transparent 1%) center, var(--color-dark);
  // background-size: 22px 22px;
}

header.site-header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  min-height: 4.5rem;
}

main.site-main {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

footer.site-footer {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  height: auto;
}

/** Main */

article {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  align-items: center;
  height: 100%;
}

header.entry-header {
  display: flex;
  justify-content: center;
  padding: 7.5rem 0.5rem 3rem 0.5rem;
}

.entry-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

/** Content */

.entry-content > * {
  // padding: 2rem 1rem 2rem 1rem;
}

.entry-content > :first-child {
  padding: 6rem 0 0 0;
}

.entry-content >:not(.alignwide):not(.alignfull):not(hr) {
  width: 88vw;

  @media all and (min-width: $bp-large) {
    width: 62vw;
  }

}

.entry-content .alignwide {

  width: 88vw;
  @media all and (min-width: $bp-large) {
    width: 88vw;
  }
}

.entry-content .alignfull {
  width: 100vw;
  // padding: 0 1rem 0 1rem;
}

.wp-block-group {
  width: 88vw;
  margin: 1.5rem 0 1.5rem 0;

  @media all and (min-width: $bp-large) {
    width: 62vw;
    margin: 3rem 0 3rem 0;
  }
}

// .wp-block-group__inner-container > * {
//   padding: 0.5rem 0 0.5rem 0;
// }

.entry-content > :last-child {
  padding: 1.5rem 0 3rem 0;
}

.entry-content > :only-child {
  padding: 3rem 0 3rem 0;
}

   .awsm-help .wp-block-column {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 2rem;
  }

  .awsm-block--dotted {
    background: linear-gradient(90deg, #eee 20px, transparent 1%) center, linear-gradient(#eee 20px, transparent 1%) center, var(--color-dark);
    background-size: 22px 22px;
  }

  .awsm-block-calltoaction--primary {
    background: linear-gradient(270deg, var(--color-dark), var(--color-dark));
    box-shadow: 0 0 12px var(--color-dark);
    border-radius: 4px 4px 2px 2px;
  }


  body:not(.home) article.page {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 200px auto;

    .entry-header {

      // Appearence 
      background-color: rgba(255, 215, 0, 0.75);


      // Lay-out
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    .entry-content {
      grid-column: 1 / 2;
      grid-row: 2 / 5;
    }

}

.awsm-block-expertise .wp-block-column {
  // background-image: url('https://dev.jordiradstake.nl/radstakedigital/wp-content/uploads/sites/3/2020/07/ostap-senyuk-kx200Pw8t6k-unsplash-750x900.jpg');
  // background-position: center;
  // transition: all 0.2s;
  // filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.awsm-block-expertise .wp-block-column:hover {
  // filter: none;
}

.awsm-block-expertise__item_1 {
  background-image: url('https://dev.jordiradstake.nl/radstakedigital/wp-content/uploads/sites/3/2020/07/ostap-senyuk-kx200Pw8t6k-unsplash-750x900.jpg');
}
