/*
 * Responsive Menu
 */

	.hamburger:hover {
		background: none;
	}

	.hamburger {
		@media all and (min-width: $bp-xl) {
			display: none;
		}
	}

    	.menu-header-mobile li a {
		font-size: 1.2rem;
	}

	a::before {
		color: var(--color-primary);
	}
    