/*------------------------------------*\
    #FOOTER NAVIGATION
\*------------------------------------*/

nav.footer-navigation {
	padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

nav.footer-navigation ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	color: rgba(0,0,0,0.75);
 
	@media all and (min-width: $bp-med) {
		flex-direction: row;
	}	
}

nav.footer-navigation ul li:not(:first-child) {
	padding: 0 0 0 1rem;

	@media all and (min-width: $bp-med) {
		padding: 0 0 0 1rem;
	}
}

nav.footer-navigation ul li a {
	font-size: 0.9rem;
}

