/*
 * Overlay
 */

.header-modal-window {
	overflow: hidden;
	position: fixed;
	z-index: 99;
	top: 0;
    right: -100vw;
	width: 94vw;
	height: 100%;
	background-color: var(--color-primary);
	transition-duration: 0.3s;
	box-shadow: -3px 3px 6px 3px rgba(0, 0, 0, 0.2);

	@media all and (min-width: $bp-small-2) {
		width: 33vw;
	}

	@media all and (min-width: $bp-med) {
		width: 33vw;
	}

	@media all and (min-width: $bp-large-2) {
		width: 33vw;
	}
	
}

.header-modal-window.visible {
	right: 0;
}

// Option 1: Fade
.header-modal-window.visible.fade {
	transition: visibility 0s, opacity 0.3s linear;
}

// Option 2: Slide
.header-modal-window.visible.slide {
    transition: 1s;
    left: 0;
}

.header-modal-window--background {
	height: 100%;
	width: 100%;
	overflow: auto;
	// padding: 2.6rem 0 1rem 0;
	padding: 3rem 2rem 3rem 2rem;
}

.header-modal-window--content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
}

body.freeze {
	overflow: hidden;
}

.flex-centered {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 85vh;
}

/*
 * 2020 Header
 */

 .home-header {
	 height: 100vh;
	 background-color: var(--color-dark);

	 display: flex;
	 flex-direction: row;

	img {
		 border-radius: 3px;
	}

	h1 {
		 color: $color-white;
		 text-align: left;
	}
}
