/**
 * BASE STYLES FOR FORMS	
 *
 * @link https://awesomatic.nl/themes/starter/design-system/forms/
 *
 * @package Awesomatic
 * @since 0.9
 */

 form {
	margin: 0.5rem 0 0.5rem 0;
 }

/** LABELS */

label {
	padding: 0 0 0.2rem 0;
	font-weight: bold;
}

/** INPUTS */

input:invalid {
	border: 4px solid $color-utility-negative;
}


input:focus {
	border-bottom: 3px solid var(--color-primary);
	background-color: #eee;
}

input, textarea {
	color: var(--color-dark);
	padding: 1rem 0.75rem 1rem 0.75rem; 
	border: none;
    border-bottom: 3px solid var(--color-dark);
    border-radius: 2px 2px 0 0;
    background-color: #eee;    
	color: var(--color-primary);
	margin: 0 0 1rem 0;
    font-size: 1.1rem;
}

textarea:focus {
	border: none;
	border-bottom: 3px solid var(--color-primary);
	background-color: #eee;
}

/** SELECTS */

select {
    border-radius: $border-radius;
    font-weight: bold;
    padding: 8px 16px 8px 16px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
}

select:focus {
	border: 2px solid var(--color-dark);
	background-color: var(--color-light);
}

/** BUTTONS */
  
button {

	/** Layout */
	margin: 1.5rem 0 1.5rem 0;
	padding: 10px 20px;

	/** Appaerance  */
	background-color: var(--color-dark);
    border: 2px solid var(--color-dark);
	border-radius: 28px;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
	color: var(--color-light);
	font-family: var(--font-primary);
	font-size: 15px;
	font-weight: 500;

}
  
button:hover {
    background: var(--color-dark);
    color: var(--color-light);
}
  
button a, button:hover a {
	color: var(--color-light);
	font-family: var(--font-alternative);
}

form button:hover {
	background: var(--color-light);
	color: var(--color-dark);
}

button:focus {
	border: 2px solid var(--color-dark);
	background-color: var(--color-light);
}


/** GENERATED STLES BY WP PLUGIN: FORMIDABLE FORMS */

.frm_primary_label {
	padding: 0 0 0.2rem 0;
	font-weight: bold;
}

.frm_fields_container {
	flex-direction: column;
}

.frm_error {
	color: $color-utility-negative;
	margin: 0 0 1.5rem 0;
	font-size: 0.8rem;
}

.frm_error_style {
	background-color: $color-white;
	color: $color-utility-negative;
	padding: 0 1rem 0.5rem 0;
	border-radius: $border-radius;
	margin: 0 0 0.5rem 0;
	font-size: 0.9rem;

	p {
		color: $color-utility-negative;
		font-size: 0.9rem;
	}
}

.frm_message  { 
	background-color: $color-white;
	border-radius: $border-radius;
	padding: 0.5rem 1rem 0.5rem 1rem;

	p {
		color: $color-utility-positive!important;
		font-size: 0.8rem;
		margin: 0;
		padding: 0;
	}
} 

/* SINGLE LINE FORM */
 
#form_nieuwsbrief {

	.frm_fields_container {
		display: flex;
		flex-direction: row;

		label {
			display: none;
		}

		.frm_form_field {

			// Let the input element grow so it takes up all the extra space available. 
			flex-grow: 1;

			input {
				border-radius: $border-radius 0px 0px $border-radius;
				margin: 0 0 0 0;
				padding: 1rem 0.75rem 1rem 0.75rem; 
			}
		}
	}

	button { 
		border-radius: 0 $border-radius $border-radius 0;
		border-left: 0;
		height: 100%;
		background-color: var(--color-dark);
		color: var(--color-light);
	}
}
