/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

h1,h2,h3,h4,h5,h6 {
	font-family: var(--font-secondary);
	color: var(--color-dark);
}

/**
 * Heading 1
 */
h1  {
	font-size: 1.8rem;
	line-height: 1.24;
	margin: 0 0 1.5rem 0;
	font-weight: 700;

	@media (min-width: $bp-small-2) {
		font-size: 2.4rem;
		line-height: 1.3;
	}	

	@media (min-width: $bp-large-2) {
		font-size: 2.5rem;
		line-height: 3.5rem;
	}	
}

/**
 * Heading 2
 */
h2 {
	font-size: 1.4rem;
	line-height: 1.58;
	margin: 0 0 3rem 0;
	color: rgba(0,0,0,0.5);

	@media (min-width: $bp-small-2) {
		font-size: 1.4rem;
	}

	@media (min-width: $bp-large-2) {
		font-size: 1.4rem;
	}
}

/**
 * Heading 3
 */

 h3 {
	font-size: 0.9rem;
	line-height: 1.58;
	margin: 1.5rem 0 0.5rem 0;
	color: var(--color-dark);
	font-weight: 400;

	@media (min-width: $bp-small-2) {
		font-size: 0.9rem;
	}

	@media (min-width: $bp-large-2) {
		font-size: 1.8rem;
	}
}

/**
 * Heading 4
 */
h4  {
	font-size: 1.2rem;
}

/**
 * Heading 5
 */
h5 {
	font-size: 1rem;
}

/**
 * Heading 6
 */
h6 {
	font-size: 0.8rem;
}

/**
 * Subheading
 */
.subheading {
	font-family: var(--font-secondary);
	font-weight: normal;
}
