/**
 * LINKS
 *
 * The order has to be visited, hover, active, focus to prevent 
 * hover styles to be overridden by visited styles.
 */

/** Base */

a {
	color: var(--color-primary);
	text-decoration: none;
	outline: 0;
	transition: all $anim-speed-quick $anim-ease;
	color: var(--color-dark);

	&:hover, &:focus {
		color: var(--color-primary);
		opacity: 0.1rem;
	}
}

a:visited {
	color: var(--color-dark);
}

a:hover {
	color: var(--color-primary);
	opacity: 0.1rem;
}

a:active {
	color: var(--color-primary);
}

a:focus {
	color: var(--color-dark);
}


p a {
	border-bottom: 2px solid var(--color-primary);

	// &:hover, &:focus {
	// 	color: var(--color-primary);
	// 	opacity: 0.1rem;
	// }
}

/*
 * Icon links 
 */ 
a[href^="https://twitter.com"], 
a[href^="https://instagram.com"], 
a[href^="https://linkedin.com"],
a[href^="mailto:"] {
	color: var(--color-primary);
}
 
a[href^="https://twitter.com"]:before, 
a[href^="https://instagram.com"]:before, 
a[href^="https://linkedin.com"]:before,
a[href^="mailto:"]:before {
	color: var(--color-primary);
	display: inline-block;
	padding-right: 0.5rem;
	//font-weight: 900;
}
 
/* 
 * Twitter link 
 */
a[href^="https://twitter.com"]:before, a[href^="https://www.twitter.com"]:before {
	font-family: "Font Awesome 5 Brands";
	content: "\f099";
	color: var(--color-primary);
	display: inline-block;
	padding-right: 0.5rem;
	//font-weight: 900;
}
 
/*
 * Instagram link
 */
a[href^="https://instagram.com"]:before, a[href^="https://www.instagram.com"]:before {
	font-family: "Font Awesome 5 Brands";
	content: "\f16d";
	color: var(--color-primary);
	display: inline-block;
	padding-right: 0.5rem;
	//font-weight: 900;
}
 
/*
 * LinkedIn link
 */
a[href^="https://linkedin.com"]:before, a[href^="https://www.linkedin.com"]:before {
	font-family: "Font Awesome 5 Brands";
	content: "\f0e1";
	color: var(--color-primary);
	display: inline-block;
	padding-right: 0.5rem;
	//font-weight: 900;
}
 
/*
 * Email link
 */
a[href^="mailto:"] {
	color: var(--color-primary);
	border-bottom: none;
}

a[href^="mailto:"]:hover {
	color: $color-dark;
}
 
a[href^="mailto:"]:before {
	font-family: "Font Awesome 5 Free";
	content: "\f1d8";
	color: var(--color-primary);
}
