/**
 * TEXT BASE STYLES
 *
 * @link https://awesomatic.nl/themes/awesomatic/design-system/typography/
 *
 * @package Awesomatic
 * @since 0.9
 */

body {
    background-color: var(--color-light);
	color: var(--color-dark);
	font: 100%/1.5 var(--font-primary);
    line-height: 28px;
    
}

/**
  * Paragraph base styles
  */
p {
    font-size: 1.1rem;
    word-break: break-word;
    color: var(--color-dark);
    opacity: 0.75;
    margin: 0.5rem 0 1.5rem 0;
}

    /**
    * Blockquote base styles
    */
    blockquote {
        font-style:italic;
        border-left: 1px solid $color-gray-50;
        color: $color-gray-50;
        padding-left: $pad;
        margin-bottom: $space;
    }

    ul, ol {
        color: $color-gray-50;
        margin: 0;
    }

    /**
    * Horizontal rule base styles
    */
    hr {
        border: 0;
        height: 2px;
        background: $color-gray-50;
        margin: $space-double 0;
    }

    /**
    * Abbreviation base styles
    */
    abbr {
        border-bottom: 1px dotted $color-gray-50;
        cursor: help;
    }

::-moz-selection { 
    background: var(--color-primary); 
    color: var(--color-light);
}

::selection { 
    background: var(--color-primary); 
    color: var(--color-light);
}