.woocommerce-account {
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  .woocommerce-account a {
    color: var(--color-light);
  }

  .woocommerce-account a:hover {
    color: var(--color-primary);
  }

  .woocommerce-account h2,
  .woocommerce-account h3,
  .woocommerce-account h4,
  .woocommerce-account h5,
  .woocommerce-account h6 {
    color: var(--color-light);
  }